<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>All Events From Org</title>
    <!--FontAwesome-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous" />

    <!--Bootstrap-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous" />
    <link rel="stylesheet" href="../../css/events/orgs-index.css" />
</head>
<body>
    <nav th:replace="fragments/navbar :: navbar"></nav>
        <div class="container">
            <h3 class="mt-3" th:text="'All upcoming events for: ' + ${myOrg.orgName}"></h3>
            <h5 th:text="'Total events: ' + ${myOrg.events.size()}"></h5>

            <div class="row">
                <div class="events col-3" th:each="event : ${myOrg.events}">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">(Event Name Here)</h5>
                            <h6 class="card-subtitle mb-2 text-muted" th:text="'Date/time: '+ ${event.dateTime}"></h6>
                            <p class="card-text" th:text="'Description: ' + ${event.description}"></p>
                            <a th:href="'/orgs/'+${myOrg.orgName} +'/event/' + ${event.id}" class="card-link">View More Details</a>
                        </div>
                    </div>
                </div>
            </div>

            <!-- ====================  Footer Section ====================  -->
            <footer>
                <div class="container">
                    <div class="footer-cols">
                        <div class="text-center">
                            <a href="/">Home </a>
                            <span>|</span>
                            <a href="/faq">FAQ</a>
                            <span>|</span>
                            <a href="/about-team">The Team</a>
                        </div>
                    </div>
                </div>
                <div class="footer-bottom text-center">
                    HelpingHands Copyright &copy; 2018
                </div>
            </footer>
        </div>
    <script th:replace="fragments/scripts :: scripts"></script>
</body>
</html>