<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <th:block th:replace="fragments/head :: head" />
    <link rel="stylesheet" th:href="@{/css/events/show-event.css}" />
</head>
<body>
<nav th:replace="fragments/navbar :: navbar"></nav>
<div class="container wrapper">

    <section id="single-event">
        <div id="event">
            <div class="card eventInfo">

                <div class="card-body">
                    <div class="row p-2">

                        <div class="col-6">
                            <h2 th:text="${event.eventName}"></h2>

                             <p class="text-muted">
                                 <span>
                                    <a th:href="'/orgs/'+${event.org.orgName}">
                                    <img th:src="${event.getOrg().getUser().getPhotoUrl()}" alt="Org LOGO" style="width: 35px; height: 35px; border-radius: 50%" />
                                    </a>
                                 </span>
                                <a id="orgNameLink" class="link-custom" th:href="'/orgs/'+${event.org.orgName}" th:text="${event.org.orgName}"></a>
                             </p>
                            <small><a th:href="'/orgs/'+ ${event.org.orgName} +'/events'" class="card-link link-custom">View All Events From This Organization</a></small>

                            <th:block sec:authorize="isAuthenticated()">
                                <p class="text-muted" th:text="${'When: ' + newDate + ' at ' + newTime}"></p>
                                <p class="text-muted" id="streetAddress" th:text="'Street Address: ' +${event.strAddr}"></p>
                                <p class="text-muted" th:text="'Zipcode: ' +${event.zipCode}"></p>
                            </th:block>
                                <p id="strAddress" class="hide" th:value="${event.strAddr}"></p>
                                <p id="zip" th:value="${event.zipCode}" class="hide"></p>
                            <!-- ====== event categories ===== -->
                            <div class="text-left eventCategories hideOnSmall">
                                <small class="card-text">
                                    <em>Event Categories: sports, outdoors, church, mentor, etc</em>
                                </small>
                            </div>
                        </div>

                        <div class="col-6" style="border-left: solid 2px #c3bebe;">
                             <div class="row h-100">
                                 <div class="col-4 d-flex align-self-center justify-content-end">
                                     <h6 class="">Description:</h6>
                                 </div>
                                 <div class="col-8 d-flex align-self-center">
                                     <p th:text="${event.description}"></p>
                                 </div>
                             </div>
                        </div>
                    </div>


                    <div class="row mt-3 p-2">

                        <div class="col-6">
                            <!-- ====== embedded map to show location of event ===== -->
                            <div id="map-canvas" style="height: 350px; width: 100%;"></div>
                            <!-- MAP END -->
                        </div>

                        <div class="col-6 text-center align-self-center">

                            <th:block sec:authorize="isAuthenticated()">
                            <div class="row">

                                <th:block th:if="${vols.contains(user.getVolunteer())}">
                                    <div class="col-12">
                                        <div class="alert alert-success my-3 w-80">You are registered for this event! Nice job!</div>
                                    </div>
                                </th:block>

                                <th:block th:if="${!vols.contains(user.getVolunteer())}">
                                   <div class="col-12">
                                       <small class="textSecondary text-muted">Interested in volunteering for this event? Click 'Put Me In, Coach!' to add yourself to the list of volunteers!
                                       </small>
                                       <button type="button" class="btn btn-primary btn-custom" data-toggle="modal" data-target="#confirm">
                                           Put me in, Coach!
                                       </button>
                                   </div>
                                </th:block>
                            </div>
                            </th:block>

                            <th:block sec:authorize="isAnonymous()">
                                <div class="row">
                                    <div class="col-12">
                                        <h5>Want to get involved in this project?</h5>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12">
                                        <p>
                                            <a class="link-custom" th:href="'/register'">Register</a> or
                                            <a class="link-custom" th:href="'/login'">Login</a>!
                                        </p>
                                    </div>
                                </div>
                            </th:block>
                        </div>
                    </div>
                    <div class="text-center">


                            <!-- Modal -->
                            <div class="modal fade" id="confirm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="myModalLabel">Please Confirm</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body" th:text="${'Are you sure you wish to register to volunteer for &quot;' + event.getEventName() + '&quot;?'}"></div>
                                        <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                            <form th:action="'/orgs/'+${event.org.orgName}+'/event/'+${event.id}" method="POST">
                                                <button type="submit" class="btn btn-primary" id="volEnrollBtn">Sign up!</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-center mt-3">
            <a class="link-custom" th:href="'/events'">Back To Events</a>
        </div>
    </section>

    <!-- ====================  Footer Section ====================  -->
    <footer class="px-5 pb-5">
        <div class="footer-cols">
            <div class="text-center">
                <a class="link-custom" href="/">Home </a>
                <span>|</span>
                <a class="link-custom" href="/faq">FAQ</a>
                <span>|</span>
                <a class="link-custom" href="/about-team">The Team</a>
            </div>
        </div>
        <div class="footer-bottom text-center">
            <em>HelpingHands Copyright &copy; 2018</em>
        </div>
    </footer>
</div>

<script th:replace="fragments/scripts :: scripts"></script>
<script type="text/javascript" th:href="@{/js/event-enrollment.js}"></script>
<script th:src="'https://maps.googleapis.com/maps/api/js?key=AIzaSyDN81ncRMrxQ1T-tFTqOVXkKGGT2YyZURA&amp;callback=initMap'" async="async" defer="defer"></script>
<script th:inline="javascript">
    /*<![CDATA[*/


    // ===== Maps API ===== \\
    function initMap() {
        var mapCanvas = document.getElementById('map-canvas');
        // Must have map configuration of zoom and location.
        var mapOptions = {
            zoom: 10,
            center: {
                lat: 29.4958247,
                lng: -98.5352398
            }

        };

        var map = new google.maps.Map(mapCanvas, mapOptions);
        var geo = new google.maps.Geocoder();
        var zip = [[${event.zipCode}]];
        var strAddress = [[${event.strAddr}]] + ', ' + zip;
        console.log(strAddress);

        geo.geocode({ 'address': strAddress }, function (results, status) {
            if (status === "OK") {
                if (results[0]) {
                    map.setZoom(12);
                    var marker = new google.maps.Marker({
                        map: map,
                        position: results[0].geometry.location
                    });
                    var latLng = marker.getPosition(); // returns LatLng object
                    map.setCenter(latLng); // setCenter takes a LatLng object
                }

            } else {
                console.log("Invalid Address.")
            }
        });

    }

    /*]]>*/
</script>
</body>
</html>