@import url("https://fonts.googleapis.com/css?family=Lato|Montserrat");

/* color and transition variables */
:root {
    --primary-color: #ff7f00;
    --primary-color-hover: #f8c537;
    --secondary-color: #f4f4f4;
    --secondary-color-hover: #011627;
    --btn-color: #2ec4b6;
    --easeOut: all 0.25s ease-out;
}

body {
    font-family: "Montserrat", sans-serif;
}

.org-main img {
    border-radius: 50%;
    height: 100px;
    width: 100px;
}

.adminHeader a {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(4, 1fr);
    text-decoration: none;
}
.reports,
img {
    display: grid;
    grid-gap: 0.5rem;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
}

/* ============ buttons ============ */
.adminBtn {
    background-color: #2ec4b6;
    color: white;
}

.adminBtn a {
    text-decoration: none;
}

.adminBtn:hover {
    background-color: #f8c537;
    transition: var(--easeOut);
}

/* ============ mobile view ============ */
@media screen and (max-width: 580px) {
    .org-main {
        text-align: center;
    }

    .adminHeader a {
        display: block;
        width: 100%;
        grid-template-areas:
                "button"
                "button"
                "button"
                "button";
        grid-template-columns: 1fr;
    }

    main {
        align-items: center;
        text-align: center;
    }

    .reports {
        grid-template-areas:
                "img"
                "img"
                "img";
        grid-template-columns: 1fr;
    }
}
