html, body {
    height: 100%;
    font-family: Montserrat, Helvetica, sans-serif;
}

.y-scroll {
    overflow-y: scroll;
    overflow-x: auto;
}

@media screen and (max-width: 580px) {
    .hideOnSmall {
        display: none;
    }
}