@import url("https://fonts.googleapis.com/css?family=Lato|Montserrat");

/* color and transition variables */
:root {
    --primary-color: #ff7f00;
    --primary-color-hover: #f8c537;
    --secondary-color: #f4f4f4;
    --secondary-color-hover: #011627;
    --btn-color: #2ec4b6;
    --easeOut: all 0.25s ease-out;
}

body {
    font-family: "Montserrat", sans-serif;
}