<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/fragments/head :: head">
    <meta charset="UTF-8" />
    <title>Details</title>
</head>
<body>
    <nav th:replace="fragments/navbar :: navbar"></nav>

    <div class="container">
        <h1>Update your account details here</h1>

            <form th:action="'/vol/' + ${id} + '/details/create'" th:method="POST" th:object="${volunteerDetails}">
                <input type="hidden" th:field="*{userId}" th:value="${id}" />
                <div class="form-group">
                    Upload a profile picture:
                    <button id="uploadBtnVol" class="btn btn-primary" type="button">Upload</button>
                    <div id="picNameVol"></div>
                    <input id="picUrlInputVol" type="hidden" size="500" th:field="*{photoUrl}" />
                </div>
                <div class="form-group">
                    <label for="firstName">
                        First Name:
                        <input id="firstName" class="form-control" type="text" th:field="*{firstName}" />
                    </label>
                </div>
                <div class="form-group">
                    <label for="lastName">
                        Last Name:
                        <input id="lastName" class="form-control" type="text" th:field="*{lastName}" />
                    </label>
                </div>
                <div class="form-group">
                    <label for="aboutMe">
                        About Me: <br />
                        <textarea class="form-control" id="aboutMe" rows="10" cols="30" th:field="*{bio}"></textarea>
                    </label>
                </div>
                <button type="submit">Submit</button>
            </form>
        </div>
    <script th:replace="fragments/scripts :: scripts"></script>
</body>
</html>