<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head">
    <meta charset="UTF-8" />
    <title>Volunteers | Login</title>
</head>
    <body>
        <div class="container">
            <h1>Log into your volunteer account here</h1>
                <form th:action="@{/vol/login}" th:method="POST">
                    <label for="username">username:</label>
                    <input id="username" name="username" type="text" />
                    <label for="password">password:</label>
                    <input id="password" name="password" type="text" />
                    <button>login</button>
                </form>
                <div th:if="${param.error}">
                    Invalid Username and Password. Please try again.
                </div>
                <div th:if="${param.logout}">
                    You have successfully logged out of your account.
                </div>
                <h2>Don't have an account? Sign up <span><a href="/vol/register">here</a></span></h2>
            </div>
        <script th:replace="fragments/scripts :: scripts"></script>
    </body>
</html>