<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head">
    <meta charset="UTF-8" />
    <title>Volunteers | Profile</title>
</head>
    <body>
        <nav th:replace="fragments/navbar :: navbar"></nav>

        <div class="container">
            <h1 th:text="'Welcome back,' + ${vol.username}"></h1>
            <p>Profile details here</p>
            <h1 th:text="'email,' + ${vol.email}"></h1>
        </div>
        <script th:replace="fragments/scripts :: scripts"></script>
    </body>
</html>