<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Volunteers | Profile</title>
    <th:block th:replace="fragments/head :: head" />
    <link rel="stylesheet" th:href="@{/css/profile.css}" />
</head>
    <body>
        <nav th:replace="fragments/navbar :: navbar"></nav>

        <div class="container">

            <th:block th:if="${messageSent != null}">
                <div class="alert alert-success mt-3">Message sent!</div>
            </th:block>

            <h1 class="mt-3" th:text="'Profile - ' + ${user.username}"></h1>
            <div class="row my-3">
                <div class="col-12">
                    <div class="card cardProfile">
                        <div class="card-header">
                            <h6 class="text-center" th:text="'Details about: ' + ${user.username}"></h6>
                        </div>
                        <div class="card-body row">
                            <div class="col-12 col-sm-3">
                                <div>
                                    <img th:src="${user.photoUrl}" alt="user-image" style="width: 100%; height: 100%;" />
                                    <div class="text-center">
                                        <button class="btn btn-primary btn-sm mt-2" data-toggle="modal" data-target="#messageModal">Message</button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-sm-9">
                                <div class="row">
                                    <div class="col-12 col-m-6 col-lg-6 text-center">
                                        <p>Number of events attended:</p>
                                        <p th:text="'Rating: ' + ${user.phnNum}"></p>
                                        <p th:text="'Stats ' + ${user.email}"></p>
                                        <p>fancy custom badge</p>
                                    </div>
                                    <div class="col-12 col-m6 col-lg-6 text-center">
                                        <h6>Short Bio:</h6>
                                        <div class="card-body ">
                                            <div class="col-12 " style="overflow-y: auto;">
                                                <div class="row ">
                                                    <div class="card cardFeedback m-3 " th:each="orgFeedback : ${currentUser.getVolunteer().getOrgFeedback()}" style=" min-width: 100px; max-width: 300px;">
                                                        <div class="card-body ">

                                                            <img th:src="${orgFeedback.org.user.photoUrl}" style="width: 50px; height: 50px; border-radius: 50%; "/>
                                                            <a th:href="'/orgs/'+${orgFeedback.org.orgName}">
                                                                <h6 th:text="${orgFeedback.getOrg().getOrgName()}"></h6>
                                                            </a>
                                                            <p th:text="'Comments: ' + ${orgFeedback.getFeedback()}"></p>
                                                            <small class="text-muted" th:text=" 'Date created: ' + ${orgFeedback.getDateCreated()} "></small>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--MESSAGE MODAL-->
            <div class="modal fade" id="messageModal" tabindex="-1" role="dialog" aria-labelledby="messageModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="messageModalLabel" th:text="'Message to ' + ${user.username}"></h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <form th:action="'/vols/'+${user.getUsername()}" method="POST" th:object="${message}">
                        <div class="modal-body">
                            <div class="form-group">
                                <label for="subject">Subject</label>
                                <input class="form-control" type="text" id="subject" placeholder="Enter subject..." th:field="*{subject}"/>
                            </div>
                            <div class="form-group">
                                <label for="body">Message Body</label>
                                <textarea class="form-control" rows="10" id="body" th:field="*{body}" placeholder="Enter your message..."></textarea>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                            <button type="submit" class="btn btn-primary">Send</button>
                        </div>
                        </form>
                    </div>
                </div>
            </div>

        </div>

        <th:block th:replace="fragments/hr-custom :: hr-custom" />
        <!-- ====== Footer ====== -->
        <footer th:fragment="fragments/footer :: footer"></footer>
        <script th:replace="fragments/scripts :: scripts"></script>
    </body>
</html>