<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head">
    <meta charset="UTF-8" />
    <title>Volunteers | Profile</title>
</head>
    <body>
        <nav th:replace="fragments/navbar :: navbar"></nav>

        <div class="container">
            <h1 th:text="'Welcome back,' + ${vol.username}"></h1>
            <p>Profile details here:</p>
            <h3 th:text="'email: ' + ${vol.email}"></h3>

            <th:block th:if="${vol.volunteerDetails != null}">
                <h3>Account Details</h3>
                <p th:text="${'first name: ' + vol.volunteerDetails.getFirstName()}"></p>
                <button class="btn btn-primary">update/edit</button>
            </th:block>

            <th:block th:if="${vol.volunteerDetails == null}">
                <h3>No Additional Profile Details</h3>
                <p>If you'd like to include a bio, full name or profile picture</p>
                <a th:href="'/vol/'+ ${vol.id} + '/details/create'">click here</a>
            </th:block>



        </div>
        <script th:replace="fragments/scripts :: scripts"></script>
    </body>
</html>