<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Title</title>
</head>
<body>
<th:block th:fragment="navbar">
    <nav class="navbar navbar-expand-sm navbar-light bg-light">
        <a class="navbar-brand" href="/">HelpingHands</a>
        <!--events should not be shown to unregistered/not signed users-->
        <div class="navbar-nav mr-auto">
            <a class="nav-item nav-link" href="/events">Events</a>
        </div>

        <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="navbar-nav ml-auto">
                <!--<a class="nav-item nav-link" th:href="'/vols/'+${currentUser.getUsername()}+'/profile'" th:text="${currentUser.getUsername()}" style="border-right: 2px double #aaa6a2;"></a>-->
                <!--<a class="nav-item nav-link" th:href="'/vols/'+${currentUser.getUsername()}+'/dash'">Dashboard</a>-->
                <!--<a class="nav-item nav-link" th:href="'/vols/'+${currentUser.getUsername()}+'/profile'">Profile</a>-->
                <!--<a class="nav-item nav-link" th:href="'/vols/'+${currentUser.getUsername()}+'/messages'">Inbox</a>-->
            </div>
        </div>
    </nav>
</th:block>
</body>
</html>