<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="fragments/head :: head" />
    <title>Create Event | Helping Hands</title>
    <link rel="stylesheet" th:href="@{/css/organization/create-event.css}" />
</head>
<body>
    <nav th:replace="fragments/navbar :: navbar"></nav>

    <div class="mb-5 d-flex justify-content-center">
        <div class="col-12 col-md-9">
            <div class="card text-center" style="width: 100%">
                <form class=" mb-3" th:action="'/orgs/'+${myOrg.getOrgName()}+'/events/create'" method="POST" th:object="${newEvent}">
                <div class="card-header">
                    <h1 class="formHeader"><i class="fas fa-calendar-plus header-icons"></i> Create An Event</h1>
                </div>
                    <div class="card-body">
                        <div class="form-group">
                            <label for="eventName">Event Name:</label><br/>
                            <input id="eventName" th:type="text" th:field="*{eventName}" />
                        </div>
                        <div class="form-group">
                            <label for="eventDate">Event Date:</label><br/>

                            <input id="eventDate" th:type="date" th:field="*{date}" />
                        </div>
                        <div class="form-group">
                            <label for="eventTime">Event Time:</label><br/>
                            <input id="eventTime" th:type="time" th:field="*{time}" />
                        </div>
                        <div class="form-group">
                            <label for="strAdr">Street Address:</label><br/>
                            <input id="strAdr" th:type="text" th:field="*{strAddr}" />
                        </div>
                        <div class="form-group">
                            <label for="zip">Zipcode:</label><br/>
                            <input id="zip" th:type="text" th:field="*{zipCode}" />
                        </div>
                        <div class="form-group">
                        <label for="description">
                        Description: <br />
                        <textarea class="form-control" id="description" rows="10" cols="30" placeholder="Include important event details here" th:field="*{description}" ></textarea>
                        </label>
                        </div>
                    </div>
                    <button class="btn submitBtn mb-3" type="submit">Submit <i class="fas fa-check-circle"></i></button>
                </form>
            </div>
        </div>
    <!--<th:block th:replace="fragments/hr-custom :: hr-custom" />-->
    </div>


    <th:block th:replace="fragments/footer :: footer" />

<script th:replace="fragments/scripts :: scripts"></script>
</body>
</html>