<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Create Event</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous" />
    <link rel="stylesheet" href="../../css/organization/create-event.css" />
</head>
<body>
    <nav th:replace="fragments/navbar :: navbar"></nav>
    <div class="container">
        <h1>Create Your Event Here</h1>


        <form th:action="'/orgs/'+${myOrg.getOrgName()}+'/events/create'" method="POST" th:object="${newEvent}">

            <!--<label for="orgId">-->
                <!--&lt;!&ndash;<input id="orgId" class="form-control" type="hidden" th:field="*{}" />&ndash;&gt;-->
            <!--</label>-->
            <div class="form-group">
                <label for="strAddr">
                    Street Address:
                    <input id="strAddr" class="form-control" type="text" th:field="*{strAddr}" />
                </label>
            </div>
            <div class="form-group">
                <label for="zipCode">
                    Zip Code:
                    <input id="zipCode" class="form-control" type="text" th:field="*{zipCode}"   />
                </label>
            </div>
            <div class="form-group">
                <label for="description">
                    Description: <br />
                    <textarea class="form-control" id="description" rows="10" cols="30" placeholder="Include important event details here" th:field="*{description}" ></textarea>
                </label>
            </div>
            <button type="submit">Submit</button>
        </form>
    </div>

<script th:replace="fragments/scripts :: scripts"></script>
</body>
</html>