<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:pth="http://www.w3.org/1999/html">
<head>
    <th:block th:replace="fragments/head :: head" />
    <meta charset="UTF-8" />
    <title>Org | Dashboard</title>
    <link rel="stylesheet" th:href="@{/css/dashboard.css}" />
</head>
    <body>
        <nav th:replace="fragments/navbar :: navbar"></nav>

        <div class="container mb-5">

            <h1 class="title pt-3">My Dashboard</h1>
            <p class="title" th:text="'Welcome, '+${currentUser.organization.orgName}"></p>

            <div class="row my-3">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header" id="menu">
                            <div>
                                <ul>
                                    <li><a th:href="'/orgs/messages'">Messages <span class="badge badge-light" th:text="${newMessages}"></span></a></li>
                                    <span class="hideOnSmall">|</span>
                                    <li><a th:href="'/orgs/'+ ${currentUser.organization.orgName}+'/events/create'">Create Event</a></li>
                                    <span class="hideOnSmall">|</span>
                                    <li><a th:href="'/orgs/'+ ${currentUser.organization.orgName}+'/events/'">My Events</a></li>
                                </ul>
                            </div>
                        </div>

                        <!-- ========== Profile Info ========== -->
                        <div class="card-body row">
                            <div class="col-12 col-sm-3">
                                <div>
                                    <img th:src="${currentUser.photoUrl}" alt="" style="width: 100%; height: 100%; border-radius: 50%" />
                                </div>
                            </div>
                            <div class="col-12 col-sm-9">
                                <div class="row">
                                    <div class="col-12 col-m-6 col-lg-6 text-center">
                                        <p th:text="'Email: ' + ${currentUser.email}"></p>
                                        <p th:text="'Contact Number: ' + ${currentUser.phnNum}"></p>
                                        <p th:text="'Address: ' + ${currentUser.organization.strAddr}"></p>
                                        <p th:text="'Zipcode: ' + ${currentUser.zipcode}"></p>
                                    </div>

                                    <div class="col-12 col-m-6 col-lg-6 text-center">
                                        <h6>About Us:</h6>
                                        <p th:text="${currentUser.organization.aboutUs}"></p>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- ========== Account Highlights ========== -->
            <section id="stats" class="section text-center">
                <div class="container">
                    <h3 class="section-head">
                        <i class="fas fa-hands-helping fa-sm mb-1"></i>
                        Account Highlights
                    </h3>
                    <div class="orgStatsGrid">
                        <div class="stats-left-side">
                            <hr />
                            <div class="memberStats">
                                <h5 class="mb-0">- Stats -</h5>
                                <p class="lead mb-0">Member since: 2018</p>
                                <p class="lead mb-0" th:text="'Total Events Created: '+ ${currentUser.organization.events.size()}"></p>
                                <p class="lead mb-5" th:text="'Total Participating Volunteers: '">Number of participating volunteers: 49</p>
                                <!--${currentUser.organization.events.volunteers.getSize() ???}-->
                            </div>
                        </div>
                        <div class="stats-right-side mb-5">
                            <hr />
                            <div class="followers">
                                <h5 class="mb-0" th:text="'- Followers '+ '('+ ${currentUser.organization.followers.size()}+')'+ ' -'"></h5>
                                <div th:each="follower : ${currentUser.organization.followers}">
                                    <a th:href="'/vols/' + ${follower.username}"><p class="lead mb-0" th:text="${follower.username}"></p></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>

        <!-- ======= Footer ======= -->
        <th:block: th:replace="fragments/footer :: footer" />
        <script th:replace="fragments/scripts :: scripts"></script>
    </body>
</html>