<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:pth="http://www.w3.org/1999/html">
<head>
    <title>Dashboard</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous" />
    <link rel="stylesheet" href="../../css/organization/dashboard.css" />
</head>
    <body>
        <nav th:replace="fragments/navbar :: navbar"></nav>

        <div class="container">

            <div class="org-main mt-3">
                <h2>My Dashboard</h2>
                <p th:text="'Welcome back, '+${currentUser.organization.orgName}"></p>
                <p th:text="'street address' + ${currentUser.organization}"></p>
                <!-- getting address is not working -->
                <!--<p th:tex="'Address: ' + ${user.organization.strAddr}"></p>-->
            </div>

            <!-- ====================  Admin Panel Buttons ====================  -->
            <!--<div class="admin-panel text-center">-->
                <!--<a href="/org/create/event"><button class="btn adminBtn">Create Event</button></a>-->
                <!--<a href="/org/update-profile"><button class="btn adminBtn">Update Profile</button></a>-->
                <!--<a href="/org/past/events"><button class="btn adminBtn">Past Events</button></a>-->
                <!--<a href="/org/upcoming/events"><button class="btn adminBtn">Upcoming Events</button></a>-->
            <!--</div>-->

            <!-- ====================  Admin Information ====================  -->
            <div class="row my-3">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header adminHeader">
                            <div>
                                <a th:href="'/orgs/'+ ${currentUser.organization.orgName} + '/events/create'"><button class="btn adminBtn">Create Event</button></a>
                            </div>
                            <div>
                                <a href="/org/update-profile"><button class="btn adminBtn">Update Profile</button></a>
                            </div>
                            <div>
                                 <a href="/org/past/events"><button class="btn adminBtn">Past Events</button></a>
                            </div>
                            <div>
                                <a th:href="'/orgs/'+ ${currentUser.organization.orgName} + '/events'"><button class="btn adminBtn">Upcoming Events</button></a>
                            </div>
                        </div>
                        <div class="card-body row">
                            <div class="col-3">
                                <div>
                                    <h5>Org default/photo here</h5>
                                    <img th:src="${currentUser.photoUrl}" alt="" style="width: 100%; height: 100%; border-radius: 50%" />
                                    <i class="fas fa-star">3.49</i>
                                </div>
                            </div>
                            <div class="col-9">
                                <div class="row">
                                    <div class="col-6">
                                        <p th:text="'Contact Number: ' + ${currentUser.phnNum}"></p>
                                        <!--<p th:tex="'Address: ' + ${user.organization.}"></p>-->
                                    </div>
                                    <div class="col-6">
                                        <p th:text="'Email: ' + ${currentUser.email}"></p>
                                        <p th:text="'Zipcode: ' + ${currentUser.zipcode}"></p>
                                    </div>
                                </div>
                                <div class="row">
                                    <span>
                                        <a class="btn btn-primary btn-sm ml-3" th:href="'/vols/'+${currentUser.username}">View Profile</a>
                                    </span>
                                        <span>
                                        <a th:href="'/orgs/messages'" class="btn btn-primary btn-sm ml-2">Messages <span class="badge badge-light" th:text="${newMessages}"></span></a>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- ====================  Reports ====================  -->
            <main id="orgReport">
                <h2 class="lg-heading text-center">My Reports</h2>
                <hr />
                <div class="reports">
                    <div class="report1">
                        <p class="lead text-center">Number of events created:</p>
                        <img src="../../img/foodBank.jpg" alt="graph1" />
                    </div>
                    <div class="report2 text-center">
                        <p class="lead">Number of volunteers:</p>
                        <img src="../../img/foodBank.jpg" alt="graph2" />
                    </div>
                    <div class="report3">
                        <p class="lead text-center">Annual Average # Events:</p>
                        <img src="../../img/foodBank.jpg" alt="graph3" />
                    </div>
                </div>
            </main>

            <!-- ====================  Footer Section ====================  -->
                <footer>
                    <div class="container">
                        <div class="footer-cols">
                            <div class="text-center">
                                <a href="/">Home </a>
                                <span>|</span>
                                <a href="/faq">FAQ</a>
                                <span>|</span>
                                <a href="/about-team">The Team </a>
                            </div>
                        </div>
                    </div>
                    <div class="footer-bottom text-center">
                        HelpingHands Copyright &copy; 2018
                    </div>
                </footer>
            </div>
        <script th:replace="fragments/scripts :: scripts"></script>
    </body>
</html>