<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <th:block th:replace="fragments/head :: head" />
    <title th:text="${event.org} + ' | '+${event.eventName}"></title>
    <link rel="stylesheet" th:href="@{/css/organization/show.css}" />
</head>
<body>
<nav th:replace="fragments/navbar :: navbar"></nav>
<div class="container">

    <h1 class="my-4" th:text="${event.org.orgName}"></h1>

    <div class="row my-3">
        <div class="col-12 m-auto">
            <div class="card cardProfile">
                <div class="card-header text-center">
                    <h3 th:text="${event.eventName}+ ' - Manager:'"></h3>
                </div>
                <div class="card-body row">
                    <div class="container">
                        <section id="single-event">
                            <h3><i class="fas fa-users header-icons"></i> Attendees</h3>
                            <h5>Unverified:</h5>
                            <hr />
                            <div th:each="volunteer : ${event.volunteers}" class="row mt-3 ml-5">
                                <div th:if="not ${attendees.contains(volunteer)}">
                                    <form th:action="@{/orgs/{org_name}/events/{event_id}/dash(org_name = ${event.getOrg().getOrgName()}, event_id = ${event.getId()})}" th:method="post">
                                        <label><a class="link-custom" th:href="'/vols/'+${volunteer.user.username}">
                                            <img th:src="${volunteer.user.photoUrl}" th:alt="${volunteer.user.firstName} + ' ' + ${volunteer.user.lastName} + ' | Profile'" style="width: 30px; height: 30px; border-radius: 50%" />
                                            <span th:text="${volunteer.user.firstName}" /> <span th:text="${volunteer.user.lastName}" />
                                        </a></label>
                                        <span class="mx-3"> || </span>
                                        <input type="hidden" name="volunteer" th:value="${volunteer.user.id}" />
                                        <label for="feedback">Feedback: </label>
                                        <input type="text" id="feedback" name="feedback" value="Great volunteer!" />
                                        <span class="mx-3"> || </span>
                                        <button class="btn btn-sm btn-custom" style="color: white;">Attended <i class="fas fa-check-square"></i></button>
                                    </form>
                                </div>
                            </div>
                        </section>
                        <section class="mt-4">
                            <h5>Verified:</h5>
                            <hr />
                            <div th:each="volunteer : ${event.volunteers}">
                                <div th:if="${attendees.contains(volunteer)}">
                                    <div>
                                        <a class="link-custom" th:href="'/vols/'+${volunteer.user.username}">
                                            <img th:src="${volunteer.user.photoUrl}" th:alt="${volunteer.user.firstName} + ' ' + ${volunteer.user.lastName} + ' | Profile'" style="width: 30px; height: 30px; border-radius: 50%" />
                                            <span th:text="${volunteer.user.firstName}" /> <span th:text="${volunteer.user.lastName}" />
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </section>

                        <!-- ====================  Footer Section ====================  -->

                    </div>


                </div>
            </div>
        </div>
    </div>

    <div class="d-none d-md-block">
        <th:block th:replace="fragments/hr-custom :: hr-custom" />
    </div>
    <div style="height: 100px"></div>
</div>

<!-- ====================  Footer  ====================  -->
<th:block th:replace="fragments/footer :: footer" />


<script th:replace="fragments/scripts :: scripts"></script>
</body>
</html>