<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login</title>
</head>
    <body>
<h1>Login</h1>
<form>

    <label for="email">Email:</label>
    <input type="email" id="Email" name="email"/><br />

    <label for="password">Password:</label>
    <input type="password" id="password" name="password"/><br />

    <label for="firstname">Firstname:</label>
    <input type="text" id="firstname" name="firstname"/><br />

    <label for="lastname">Lastname:</label>
    <input type="text" id="lastname" name="lastname"/><br />

    <label for="phn_number">Phone number:</label>
    <input type="tel" id="phn_number" name="phonenumber"/><br />

    <label for="org_name">Organization Name:</label>
    <input type="text" id="org_name" name="organization_name"/><br />

    <label for="tax_id">Tax Id:</label>
    <input type="text" id="tax_id" name="tax_id"/><br />

    <label for="street_addr">Street Addr:</label>
    <input type="text" id="street_addr" name="street_addr"/><br />

    <label for="city">City:</label>
    <input type="text" id="city" name="city"/><br />

    <label for="state">State:</label>
    <input type="text" id="state" name="state"/><br />

    <label for="zip_code">Zip Code:</label>
    <input type="text" id="zip_code" name="zip_code"/><br />

    <input type="submit"/>
    <input type="reset"/>

</form>
</body>
</html>