<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head">
    <title>Login</title>
</head>
<body>
    <nav th:replace="fragments/navbar :: navbar"></nav>

<h1>Login</h1>
<form th:action="@{/{username}/orgs/register(username=${user.getUsername()})}" th:method="POST" th:object="${user.organization}">

    <label for="org_name">Organization Name:</label>
    <input type="text" id="org_name" name="organization_name" th:field="*{orgName}"/><br />

    <label for="taxId">TaxId:</label>
    <input type="text" id="taxId" name="taxId" th:field="*{tax_id}"/><br />

    <label for="street_addr">Street Addr:</label>
    <input type="text" id="street_addr" name="street_addr" th:field="*{strAddr}"/><br />

    <label for="city">City:</label>
    <input type="text" id="city" name="city" th:field="*{city}"/><br />

    <label for="state">State:</label>
    <input type="text" id="state" name="state" th:field="*{state}"/><br />

    <label for="zip_code">Zip Code:</label>
    <input type="text" id="zip_code" name="zip_code" th:field="*{zipCode}"/><br />

    <input type="submit"/>
    <input type="reset"/>

</form>
    <script th:replace="fragments/scripts :: scripts"></script>
</body>
</html>