<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <th:block th:replace="fragments/head :: head" />
    <title th:text="${org.getOrgName()} + ' | Helping Hands'"></title>
    <link rel="stylesheet" th:href="@{/css/organization/show.css}" />
</head>
<body>
<nav th:replace="fragments/navbar :: navbar"></nav>

<div class="container">

    <th:block th:if="${messageSent != null}">
        <div class="alert alert-success mt-3">Message sent!</div>
    </th:block>

    <h1 th:text="'Profile - ' + ${org.orgName}"></h1>

    <div class="row my-3">
        <div class="col-12">
            <div class="card cardProfile">
                <div class="card-header">
                    <h6 th:text="'Details about the ' + ${org.orgName}+ ' organization:'"></h6>
                </div>
                <div class="card-body row">
                    <!-- this was original: <div class="col-3">-->
                    <div class="col-12 col-sm-3 text-center">
                        <div>
                            <img th:src="${org.user.photoUrl}" alt="" style="width: 100%; height: 100%; border-radius: 50%" />
                            <div sec:authorize="isAuthenticated()">
                                <button class="btn btn-primary btn-sm" data-toggle="modal" data-target="#messageModal">Message</button>
                                <a th:if="${follower}" th:href="@{/orgs/{orgname}/follow(orgname= ${org.getOrgName()})}"  class="btn btn-success btn-sm my-1">unfollow</a>
                                <a th:if="not ${follower}" th:href="@{/orgs/{orgname}/follow(orgname = ${org.getOrgName()})}"  class="btn btn-success btn-sm my-1">follow</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-9">
                        <div class="row">
                            <div class="col-12 col-md-6 col-lg-6 text-center">
                                <p th:text="'Email: ' + ${org.user.email}"></p>
                                <p th:text="'Contact Number: ' + ${org.user.phnNum}"></p>
                                <p th:tex="'Address: ' + ${org.strAddr}"></p>
                                <p th:text="'Zipcode: ' + ${org.user.zipcode}"></p>
                            </div>
                        </div>
                        <div>
                            <div class="col-12 col-m-6 col-lg-6 text-center">
                                <h6 th:text="'About '+${org.orgName}+':'"></h6>
                                <p th:class="lead" th:text="${org.aboutUs}"></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--MESSAGE MODAL-->
    <div class="modal fade" id="messageModal" tabindex="-1" role="dialog" aria-labelledby="messageModalLabel" aria-hidden="true" sec:authorize="isAuthenticated()">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="messageModalLabel" th:text="'Message to ' + ${org.orgName}"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form th:action="'/orgs/'+${org.getOrgName()}" method="POST" th:object="${message}">
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="subject">Subject</label>
                            <input class="form-control" type="text" id="subject" placeholder="Enter subject..." th:field="*{subject}"/>
                        </div>
                        <div class="form-group">
                            <label for="body">Message Body</label>
                            <textarea class="form-control" rows="10" id="body" th:field="*{body}" placeholder="Enter your message..."></textarea>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                        <button type="submit" class="btn btn-primary btn-custom">Send <i class="fas fa-envelope"></i></button>
                    </div>
                </form>
            </div>
        </div>
    <th:block th:replace="fragments/hr-custom :: hr-custom" />
    </div>


    <!-- ====================  Footer Section ====================  -->
    <th:block th:replace="fragments/footer :: footer" />

</div>
<script th:replace="fragments/scripts :: scripts"></script>
</body>
</html>