<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8" />
    <title>Volunteers | Profile</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous" />
    <link rel="stylesheet" href="../../css/organization/show.css" />
</head>
<body>
<nav th:replace="fragments/navbar :: navbar"></nav>

<div class="container">
    
   <th:block th:if="${messageSent != null}"> <div class="alert alert-info" th:text="${messageSent}"></div></th:block>

    <h1 th:text="'Profile - ' + ${org.orgName}"></h1>

    <div class="row my-3">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h6 th:text="'Details about this organization ' + ${org.orgName}"></h6>
                </div>
                <div class="card-body row">
                    <div class="col-3">
                        <div>
                            <img th:src="${org.user.photoUrl}" alt="" style="width: 100%; height: 100%; border-radius: 50%" />
                            <h3>Photo goes here</h3>
                            <div sec:authorize="isAuthenticated()">
                                <button class="btn btn-primary btn-sm" data-toggle="modal" data-target="#messageModal">Message</button>

                            <th:block>
                                <a th:if="${follower}"  th:href="@{/orgs/{orgname}(orgname = ${org.getOrgName()})}" class="btn btn-success btn-sm my-1">unfollow</a>
                                <a th:unless="not ${follower}"  th:href="@{/orgs/{orgname}(orgname = ${org.getOrgName()})}" class="btn btn-success btn-sm my-1">follow</a>
                            </th:block>
                            </div>
                        </div>
                    </div>
                    <div class="col-9">
                        <div class="row">
                            <div class="col-6">
                                <p th:text="'Contact Number: ' + ${org.user.phnNum}"></p>
                                <p th:tex="'Address: ' + ${org.strAddr}"></p>
                            </div>
                            <div class="col-6">
                                <p th:text="'Email: ' + ${org.user.email}"></p>
                                <p th:text="'Zipcode: ' + ${org.user.zipcode}"></p>
                            </div>
                        </div>
                        <div class="row text-center">
                            <div class="col-12">
                                <h6>About Our Organization:</h6>
                                <p>[ - INSERT BIO HERE - ]</p>
                                <h6>We're located at:</h6>
                                <p>[ - INSERT MAP HERE - ]</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--MESSAGE MODAL-->
    <div class="modal fade" id="messageModal" tabindex="-1" role="dialog" aria-labelledby="messageModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="messageModalLabel" th:text="'Message to ' + ${currentUser.username}"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form th:action="'/orgs/'+${org.getOrgName()}" method="POST" th:object="${message}">
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="subject">Subject</label>
                            <input class="form-control" type="text" id="subject" placeholder="Enter subject..." th:field="*{subject}"/>
                        </div>
                        <div class="form-group">
                            <label for="body">Message Body</label>
                            <textarea class="form-control" rows="10" id="body" th:field="*{body}" placeholder="Enter your message..."></textarea>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                        <button type="submit" class="btn btn-primary">Send</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- ====================  Footer Section ====================  -->
    <footer class="mt-5">
        <div class="container">
            <div class="footer-cols">
                <div class="text-center">
                    <a href="/">Home </a>
                    <span>|</span>
                    <a href="/faq">FAQ</a>
                    <span>|</span>
                    <a href="/about-team">The Team </a>
                </div>
            </div>
        </div>
        <div class="footer-bottom text-center">
            HelpingHands Copyright &copy; 2018
        </div>
    </footer>

</div>
<script th:replace="fragments/scripts :: scripts"></script>
</body>
</html>