@import url("https://fonts.googleapis.com/css?family=Lato|Montserrat");

/* color and transition variables */
:root {
    --primary-color: #ff7f00;
    --primary-color-hover: #f8c537;
    --secondary-color: #f4f4f4;
    --secondary-color-hover: #011627;
    --btn-color: #2ec4b6;
    --easeOut: all 0.25s ease-out;
}

body {
    font-family: "Montserrat", sans-serif;
}

#events {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
}

#hh-logo,
img {
    height: 50px;
    width: 50px;
}

#welcome {
    background-image: url("../img/rawpixel-660714-unsplash.jpg");
    background-size: cover;
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100%;
    position: relative;
    overflow-y: hidden;
}

.leadWelcome {
    font-family: "Lato", sans-serif;
}

.registerNow {
    background-color: #2ec4b6;
}

.registerNow a {
    text-decoration: none;
    color: white;
}

.registerNow:hover {
    background-color: #f8c537;
    transition: var(--easeOut);
}

.lead {
    font-family: "Montserrat", sans-serif;
    font-size: 0.9rem;
}


section {
    padding: 2rem 0;
    margin: 2rem;
}

.welcome-info,
.register-link {
    margin-left: 2rem;
}

.register-link {
    margin-top: 0.25rem;
}

.org-logos-row-1 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    grid-gap: 10px;
}

.org-logos-row-2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    grid-gap: 10px;
}

.org-1 {
    background-image: url("../img/duff.jpg");
    margin: auto;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-size: cover;
    border: 1px solid black;
}

.org-2 {
    background-image: url("../img/codeup.png");
    margin: auto;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-size: cover;
    border: 1px solid black;
}

.org-3 {
    background-image: url("../img/polloshermanos.jpg");
    margin: auto;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-size: cover;
    border: 1px solid black;
}

.org-4 {
    background-image: url("../img/umbrella.jpeg");
    margin: auto;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-size: cover;
    border: 1px solid black;
}

.org-5 {
    background-image: url("../img/Dunder-Mifflin.jpg");
    margin: auto;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-size: cover;
    border: 1px solid black;
}

/* ============= footer ============= */

footer {
    text-align: center;
}

footer a {
    color: black;
}

footer a:hover {
    color: var(--primary-color);
    transition: var(--easeOut);
}

/* ========= Navigation ========= */

nav {
    height: 40px;
    width: 100%;
    position: fixed;
    z-index: 999;
}
nav ul {
    padding: 0;
    margin: 0;
}
nav li {
    display: inline;
    float: right;
}
nav a {
    display: inline-block;
    width: 100px;
    text-align: center;
    text-decoration: none;
    padding: 10px 0;
    color: black;
    text-decoration: none;
}
nav a:hover {
    color: var(--btn-color);
    transition: var(--easeOut);
}

nav a#openup {
    display: none;
}

/* =========== mobile view =========== */
/* styles only applied to 580px or LESS */
@media screen and (max-width: 580px) {

    .hideOnSmall {
        display: none;
    }

    main {
        align-items: center;
        text-align: center;
    }
    .lg-heading {
        line-height: 1;
        margin-bottom: 1rem;
    }


    #welcome {
        height: 50vh;
    }

    #welcome .container {
        margin-top: 15vh;
    }

    #welcome h1 {
        font-size: 3rem;
    }

    #welcome h2 {
        font-size: 1.5rem;
    }

    h1 {
        font-size: 2.8em;
    }

    .org-logos-row-1 {
        grid-template-areas:
        "org1"
        "org2"
        "org3";
        grid-template-columns: 2fr;
    }



    nav {
        height: auto;
        border-bottom: 0;
    }
    nav ul {
        display: none;
        height: auto;
    }
    nav li {
        width: 100%;
        float: left;
        position: relative;
    }
    nav a {
        text-align: left;
        width: 100%;
        text-indent: 25px;
        background: #333;
        border-bottom: 1px solid #555;
    }
    nav a:hover {
        background: #444;
        text-decoration: none;
    }
    nav a#openup:after {
        content: "|||";
        transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
        /* IE 9 */
        -webkit-transform: rotate(-90deg);
        /* Safari and Chrome */
        width: 30px;
        height: 30px;
        display: inline-block;
        position: absolute;
        right: 5px;
        top: 20px;
    }
    nav a#openup {
        display: block;
        background-color: #333;
        width: 100%;
        position: relative;
    }
}
.cf:before,
.cf:after {
    content: "";
    display: table;
}

.cf:after {
    clear: both;
}

.cf {
    zoom: 1;
}

/* For IE 6/7 (trigger hasLayout) */

/* @media screen and (max-width: 580px) {

} */
