@import url("https://fonts.googleapis.com/css?family=Lato|Montserrat|Bungee+Shade");

/* color and transition variables */
:root {
    --primary-color: #ff7f00;
    --primary-color-hover: #f8c537;
    --secondary-color: #f4f4f4;
    --secondary-color-hover: #011627;
    --btn-color: #2ec4b6;
    --easeOut: all 0.25s ease-out;
}

body {
    font-family: "Montserrat", sans-serif;
}

.navbar-brand {
    font-size: 1.3rem;
}

.navbar-brand span img {
    margin-bottom: .25em;
}

#events {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
}

#hh-logo,
img {
    height: 50px;
    width: 50px;
}

#hh-logo-new {
    width: 260px;
    height: 235px;
}

#welcome {
    /*height: calc(100vh - 40px);*/
    height: auto;
    width: 100%;
    position: relative;
    overflow: hidden;
    background: linear-gradient(rgba(255,127,0,0.49), rgba(255,255,255,0.34));
}

#title-header {
    font-size: 5rem;
    letter-spacing: 3px;
    color: var(--primary-color);
    font-family: 'Bungee Shade', Helvetica, sans-serif;
}

#vid-container {
    position: relative;
    width:100%;
    height: auto;
}

.vid-bg {
    position: absolute;
    top: -200px;
    left: -200px;
    overflow: hidden;
    z-index: -100;
}

.fullscreen-bg__video {
    position: absolute;
    top: 50%;
    left: 50%;
    width: auto;
    height: auto;
    min-width: 100%;
    min-height: 100%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.title-col {
    background: rgba(255,255,255,0.65);
}

.leadWelcome {
    font-family: "Lato", sans-serif;
}

.registerNow {
    background-color: #2ec4b6;
}

.div-title{
    border:5px solid #2ec4b6;
    border-radius:50px 15px;
    box-shadow: 4px 4px #f8c537;
}

button {
    color: white;
}

.registerNow a {
    text-decoration: none;
    /*color: white;*/
}

.registerNow:hover {
    background-color: #f8c537;
    transition: var(--easeOut);
}

.sectionTitle {
    font-size: 2rem;
    font-weight: bold;
}

.lead {
    font-family: "Montserrat", sans-serif;
    font-size: 1.5rem;
}

section {
    padding: 2rem 0;
    margin: 2rem;
}

.register-link {
    margin-top: 0.25rem;
}

.org-logo-gird {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    width: 100%;
    grid-gap: 10px;
}

.duckImg {
    background: url("../img/dderby.jpeg");
}

.localImg {
    background: url("../img/localthreads.png");
}

.pollosImg {
    background: url("../img/polloshermanos.jpg");
}

.dunderImg {
    background: url("../img/Dunder-Mifflin.jpg");
}

.codeupImg {
    background: url("../img/codeup.png");
}

.orgIcon {
    margin: auto;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-size: cover;
    border: 1px solid black;
    background-color: white;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.15), 0 2px 3px rgba(0, 0, 0, 0.2);
}

.orgIcon:hover {
    box-shadow:0 15px 3px rgba(0, 0, 0, 0.2);
    transition: var(--easeOut);
}

/* ============= Hero Banner CTA ============= */
#ctaHeroBanner {
    background: url("../img/hands.jpg") no-repeat center/cover;
    height: 450px;
    width: 100%;
    position: relative;
    overflow-y: hidden;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.15), 0 2px 3px rgba(0, 0, 0, 0.2);
}

.cta-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 10px;
    max-width: 300px;
    color: white;
    background-color: rgba(255, 127, 0, 0.5);
    height: 100%;
}


/* ========= Navigation ========= */

#logoutBtn,
#logoutBtn:hover,
#logoutBtn:focus {
    border: none;
}

a.nav-item.nav-link.navlink-custom {
    color: #FFFFFF; !important;
    font-size: 1.1rem;
}

.vidBgAlt {
    background: url("https://i.postimg.cc/zX2hs4qC/IMG_1039.jpg") no-repeat;
    background-size: cover;
}

/* =========== mobile view =========== */
/* styles only applied to 580px or LESS */
@media screen and (max-width: 580px) {

    .hideOnSmall {
        display: none;
    }

    main {
        align-items: center;
        text-align: center;
    }
    .lg-heading {
        line-height: 1;
        margin-bottom: 1rem;
    }

    #welcome {
        height: calc(100vh - 65px);
        background: linear-gradient(rgba(255,127,0,0.49), rgba(255,255,255,0.34)), url("https://i.postimg.cc/SxQ7k8tM/cheerful-collaboration-community-1339629.jpg") no-repeat;
        background-size: cover;
    }

    #welcome .container {
        margin-top: 15vh;
    }

    #welcome h1 {
        font-size: 3rem;
    }

    #welcome h2 {
        font-size: 1.5rem;
    }

    h1 {
        font-size: 2.8em;
    }

    .lead {
        font-size: 0.9rem;
    }

    .cta-grid {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 10px;
        max-width: 100%;
        color: white;
        background-color: rgba(255, 127, 0, 0.5);
        height: 34%;
        text-align: center;
    }

    #organizations {
        text-align: center;
    }


}


.cf:before,
.cf:after {
    content: "";
    display: table;
}

.cf:after {
    clear: both;
}

.cf {
    zoom: 1;
}

/* For IE 6/7 (trigger hasLayout) */

/* @media screen and (max-width: 580px) {

} */

@media (max-width: 767px) {
    .fullscreen-bg {
        background: url("../resources/static/img/rawpixel-660714-unsplash.jpg") center center / cover no-repeat;
    }

    .fullscreen-bg__video {
        display: none;
    }
}

