@import url("https://fonts.googleapis.com/css?family=Lato|Montserrat");

/* color and transition variables */
:root {
    --primary-color: #ff7f00;
    --primary-color-hover: #f8c537;
    --secondary-color: #f4f4f4;
    --secondary-color-hover: #011627;
    --btn-color: #2ec4b6;
    --easeOut: all 0.25s ease-out;
}

body, html {
    height: 100%;
}

body {
    font-family: "Montserrat", sans-serif;
    background-image: linear-gradient(rgba(255,255,255,.9), rgba(255,255,255,.9)), url("https://i.postimg.cc/Y2QTkX6y/abstract-art-decoration-1029624.jpg");
    background-size: cover;

}

label {
    font-family: "Lato", sans-serif;
}

/* ===== team images ===== */

.mykelPic {
    background: url("../img/Mykel2.jpg");
}

.tjPic {
    background: url("../img/TJ2.jpg");
}

.vincePic {
    background: url("../img/Vincent2.jpg");
}

.lisaPic {
    background: url("../img/Lisa2.jpg");
}

.nameHighlight {
    background-color: rgba(255, 127, 0, 0.85);
    border-radius: 15px;
    padding: .15em;
    color: white;
    font-size: 22px;
    font-weight: bold;
    max-width: 195px;
}

.teamImg {
    margin: auto;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    background-size: cover;
}

.grid-profile {
    display: grid;
    margin: 4.5em auto;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2rem;
}

.footer {
    position: absolute;
}

/* ====== utility classes ===== */

.container {
    max-width: 1180px;
    text-align: center;
    margin: 0 auto;
    padding: 0 3rem;
}

.lead {
    font-size: 0.8rem;
    font-family: Montserrat;
}

#icons {
    font-size: 2rem;
}

#icons a {
    text-decoration: none;
    color: var(--secondary-color-hover);
}

#icons i:hover {
    color: var(--btn-color);
    transition: var(--easeOut);
}

/* ====== mobile view ====== */
@media screen and (max-width: 580px) {

    body, html {
        height: 100%;
    }

    .grid-profile {
        grid-template-areas:
                "tj"
                "lisa"
                "vince"
                "mykel";
        grid-template-columns: 1fr;
    }

    .footer {
        position: relative;
    }
}

