<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <title>Register | Volunteers | Helping Hands</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
          crossorigin="anonymous" />

    <!--Bootstrap-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous" />
    <link rel="stylesheet" href="../../css/team.css" />
</head>
<body>
    <nav th:replace="fragments/navbar :: navbar"></nav>

        <!-- ====================  About Team ==================== -->
        <section id="team" class="section">
            <div class="container">
                <h2 class="section-head">About The Team</h2>
                <p class="lead">The people behind HelpingHands
                </p>
                <hr />
                <div class="grid-profile">
                    <div class="profiles-left-side">

                        <!-- =================  tj profile ================= -->
                        <div id="tj mb-5">
                            <div class="tjPic teamImg"></div>
                            <h4 class="mb-1"> - TJ English - </h4>
                            <div id="icons">
                                <a href="mailto:timothy.english.jr@gmail.com">
                                    <i class="fas fa-envelope"></i>
                                </a>
                                <a href="https://www.linkedin.com/in/tenglishjr" target="_#">
                                    <i class="fab fa-linkedin-in"></i>
                                </a>
                                <a href="https://www.github.com/tenglishjr">
                                    <i class="fab fa-github"></i>
                                </a>
                                <a href="tel:210-683-3627">
                                    <i class="fas fa-mobile-alt"></i>
                                </a>
                            </div>
                        </div>

                        <!-- ================= lisa profile ================= -->
                        <div id="lisa">
                            <div class="lisaPic teamImg"></div>
                            <h4 class="mb-1"> - Lisa Rodriguez- </h4>
                            <div id="icons">
                                <a href="mailto:lisa.rodriguez257@gmail.com">
                                    <i class="fas fa-envelope"></i>
                                </a>
                                <a href="https://www.linkedin.com/in/lisa-rodriguez/" target="_#">
                                    <i class="fab fa-linkedin-in"></i>
                                </a>
                                <a href="https://github.com/RodriguezL75">
                                    <i class="fab fa-github"></i>
                                </a>
                                <a href="tel:210-683-3627">
                                    <i class="fas fa-mobile-alt"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="profiles-right-side">

                        <!-- ================= vince profile ================= -->
                        <div id="vince mb-5">
                            <div class="vincePic teamImg"></div>
                            <h4 class="mb-1"> - Vincent Lewis - </h4>
                            <div id="icons">
                                <a href="mailto:vincent.sean.lewis@gmail.com">
                                    <i class="fas fa-envelope"></i>
                                </a>
                                <a href="https://www.linkedin.com/in/lewis-vincent/" target="_#">
                                    <i class="fab fa-linkedin-in"></i>
                                </a>
                                <a href="https://github.com/vlewisGH">
                                    <i class="fab fa-github"></i>
                                </a>
                                <a href="tel:210-683-3627">
                                    <i class="fas fa-mobile-alt"></i>
                                </a>
                            </div>
                        </div>

                        <!-- ================= mykel profile ================= -->
                        <div id="mykel">
                            <div class="mykelPic teamImg"></div>
                            <h4 class="mb-1"> - Mykel Kovar - </h4>
                            <div id="icons">
                                <a href="mailto:mykelkovar@gmail.com">
                                    <i class="fas fa-envelope"></i>
                                </a>
                                <a href="https://www.linkedin.com/in/mykel-kovar" target="_#">
                                    <i class="fab fa-linkedin-in"></i>
                                </a>
                                <a href="https://github.com/mkovar52">
                                    <i class="fab fa-github"></i>
                                </a>
                                <a href="tel:210-683-3627">
                                    <i class="fas fa-mobile-alt"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- ====================  Footer Section ====================  -->
        <footer>
            <div class="container mt-5">
                <div class="footer-cols">
                    <div class="text-center">
                        <a href="/">Home </a>
                        <span>|</span>
                        <a href="/faq">FAQ</a>
                        <span>|</span>
                        <a href="/register">Register</a>
                    </div>
                </div>
            </div>
            <div class="footer-bottom text-center p-2">
                HelpingHands Copyright &copy; 2018
            </div>
        </footer>
    <script th:replace="fragments/scripts :: scripts"></script>
</body>

</html>

<!--///////////////horizontal view below////////////////////////////////-->


<!--<!DOCTYPE html>-->
<!--<html xmlns:th="http://www.thymeleaf.org">-->

<!--<head>-->
    <!--<meta charset="UTF-8" />-->
    <!--<title>Register | Volunteers | Helping Hands</title>-->
    <!--<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"-->
          <!--crossorigin="anonymous" />-->

    <!--&lt;!&ndash;Bootstrap&ndash;&gt;-->
    <!--<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"-->
          <!--crossorigin="anonymous" />-->
    <!--<link rel="stylesheet" href="team.css" />-->
<!--</head>-->
<!--<body>-->

<!--&lt;!&ndash; ====================  About Team ==================== &ndash;&gt;-->
<!--<section id="team" class="section">-->
    <!--<div class="container">-->
        <!--<h2 class="section-head mt-3">About The Team</h2>-->
        <!--<p class="lead">The people behind HelpingHands</p>-->
        <!--<hr />-->


        <!--<div class="grid-profile">-->
            <!--<div class="tj mb-5">-->
                <!--<div class="tj-img"></div>-->
                <!--<h4 class="mb-1"> - TJ English - </h4>-->
                <!--<div id="iconsa">-->
                    <!--<a href="mailto:timothy.english.jr@gmail.com">-->
                        <!--<i class="fas fa-envelope"></i>-->
                    <!--</a>-->
                    <!--<a href="https://www.linkedin.com/in/tenglishjr" target="_#">-->
                        <!--<i class="fab fa-linkedin-in"></i>-->
                    <!--</a>-->
                    <!--<a href="https://www.github.com/tenglishjr">-->
                        <!--<i class="fab fa-github"></i>-->
                    <!--</a>-->
                <!--</div>-->
                <!--<p class="lead">Lorem ipsum dolor Esse tempore fugiat placeat ipsum itaque a, unde quia sit pariatur magnam quos fugit odio-->
                    <!--minima vitae explicabo ratione sint commodi dicta.</p>-->
            <!--</div>-->
            <!--<div class="lisa mb-5">-->
                <!--<div class="lisa-img"></div>-->
                <!--<h4 class="mb-1"> - Lisa Rodriguez- </h4>-->
                <!--<div id="iconsb">-->
                    <!--<a href="mailto:lisa.rodriguez257@gmail.com">-->
                        <!--<i class="fas fa-envelope"></i>-->
                    <!--</a>-->
                    <!--<a href="https://www.linkedin.com/in/lisa-rodriguez/" target="_#">-->
                        <!--<i class="fab fa-linkedin-in"></i>-->
                    <!--</a>-->
                    <!--<a href="https://github.com/RodriguezL75">-->
                        <!--<i class="fab fa-github"></i>-->
                    <!--</a>-->
                <!--</div>-->
                <!--<p class="lead">Lorem ipsum dolor Esse tempore fugiat placeat ipsum itaque a, unde quia sit pariatur magnam quos fugit odio-->
                    <!--minima vitae explicabo ratione sint commodi dicta.</p>-->
            <!--</div>-->
            <!--<div class="vince mb-5">-->
                <!--<div class="vince-img"></div>-->
                <!--<h4 class="mb-1"> - Vincent Lewis - </h4>-->
                <!--<div id="iconsc">-->
                    <!--<a href="mailto:vincent.sean.lewis@gmail.com">-->
                        <!--<i class="fas fa-envelope"></i>-->
                    <!--</a>-->
                    <!--<a href="https://www.linkedin.com/in/lewis-vincent/" target="_#">-->
                        <!--<i class="fab fa-linkedin-in"></i>-->
                    <!--</a>-->
                    <!--<a href="https://github.com/vlewisGH">-->
                        <!--<i class="fab fa-github"></i>-->
                    <!--</a>-->
                <!--</div>-->
                <!--<p class="lead">Lorem ipsum dolor Esse tempore fugiat placeat ipsum itaque a, unde quia sit pariatur magnam quos fugit odio-->
                    <!--minima vitae explicabo ratione sint commodi dicta.</p>-->
            <!--</div>-->
            <!--<div class="mykel">-->
                <!--<div class="mykel-img"></div>-->
                <!--<h4 class="mb-1"> - Mykel Kovar - </h4>-->
                <!--<div id="icons">-->
                    <!--<a href="mailto:mykelkovar@gmail.com">-->
                        <!--<i class="fas fa-envelope"></i>-->
                    <!--</a>-->
                    <!--<a href="https://www.linkedin.com/in/mykel-kovar" target="_#">-->
                        <!--<i class="fab fa-linkedin-in"></i>-->
                    <!--</a>-->
                    <!--<a href="https://github.com/mkovar52">-->
                        <!--<i class="fab fa-github"></i>-->
                    <!--</a>-->
                <!--</div>-->
                <!--<p class="lead">Lorem ipsum dolor Esse tempore fugiat placeat ipsum itaque a, unde quia sit pariatur magnam quos fugit odio-->
                    <!--minima vitae explicabo ratione sint commodi dicta.</p>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<!--</section>-->
        <!--&lt;!&ndash; <div class="grid-profile">-->
                <!--<div class="profiles-left-side"> &ndash;&gt;-->

        <!--&lt;!&ndash; ****************** OLD STYLKE ****************** &ndash;&gt;-->
        <!--&lt;!&ndash; =================  tj profile ================= &ndash;&gt;-->
        <!--&lt;!&ndash; <div class="tj mb-5">-->
            <!--<div class="tj-img"></div>-->
            <!--<h4 class="mb-1"> - TJ English - </h4>-->
            <!--<div id="icons">-->
                <!--<a href="mailto:timothy.english.jr@gmail.com">-->
                    <!--<i class="fas fa-envelope"></i>-->
                <!--</a>-->
                <!--<a href="https://www.linkedin.com/in/tenglishjr" target="_#">-->
                    <!--<i class="fab fa-linkedin-in"></i>-->
                <!--</a>-->
                <!--<a href="https://www.github.com/tenglishjr">-->
                    <!--<i class="fab fa-github"></i>-->
                <!--</a>-->
                <!--<a href="tel:210-683-3627">-->
                    <!--<i class="fas fa-mobile-alt"></i>-->
                <!--</a>-->
            <!--</div>-->
        <!--</div> &ndash;&gt;-->
        <!--&lt;!&ndash; ================= lisa profile ================= &ndash;&gt;-->
        <!--&lt;!&ndash; <div class="lisa">-->
            <!--<div class="lisa-img"></div>-->
            <!--<h4 class="mb-1"> - Lisa Rodriguez- </h4>-->
            <!--<div id="icons">-->
                <!--<a href="mailto:lisa.rodriguez257@gmail.com">-->
                    <!--<i class="fas fa-envelope"></i>-->
                <!--</a>-->
                <!--<a href="https://www.linkedin.com/in/lisa-rodriguez/" target="_#">-->
                    <!--<i class="fab fa-linkedin-in"></i>-->
                <!--</a>-->
                <!--<a href="https://github.com/RodriguezL75">-->
                    <!--<i class="fab fa-github"></i>-->
                <!--</a>-->
                <!--<a href="tel:210-683-3627">-->
                    <!--<i class="fas fa-mobile-alt"></i>-->
                <!--</a>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
    <!--<div class="profiles-right-side"> &ndash;&gt;-->

        <!--&lt;!&ndash; ================= vince profile ================= &ndash;&gt;-->
        <!--&lt;!&ndash; <div class="vince mb-5">-->
            <!--<div class="vince-img"></div>-->
            <!--<h4 class="mb-1"> - Vincent Lewis - </h4>-->
            <!--<div id="icons">-->
                <!--<a href="mailto:vincent.sean.lewis@gmail.com">-->
                    <!--<i class="fas fa-envelope"></i>-->
                <!--</a>-->
                <!--<a href="https://www.linkedin.com/in/lewis-vincent/" target="_#">-->
                    <!--<i class="fab fa-linkedin-in"></i>-->
                <!--</a>-->
                <!--<a href="https://github.com/vlewisGH">-->
                    <!--<i class="fab fa-github"></i>-->
                <!--</a>-->
                <!--<a href="tel:210-683-3627">-->
                    <!--<i class="fas fa-mobile-alt"></i>-->
                <!--</a>-->
            <!--</div>-->

        <!--</div> &ndash;&gt;-->

        <!--&lt;!&ndash; ================= mykel profile ================= &ndash;&gt;-->
        <!--&lt;!&ndash; <div class="mykel">-->
            <!--<div class="mykel-img"></div>-->
            <!--<h4 class="mb-1"> - Mykel Kovar - </h4>-->
            <!--<div id="icons">-->
                <!--<a href="mailto:mykelkovar@gmail.com">-->
                    <!--<i class="fas fa-envelope"></i>-->
                <!--</a>-->
                <!--<a href="https://www.linkedin.com/in/mykel-kovar" target="_#">-->
                    <!--<i class="fab fa-linkedin-in"></i>-->
                <!--</a>-->
                <!--<a href="https://github.com/mkovar52">-->
                    <!--<i class="fab fa-github"></i>-->
                <!--</a>-->
                <!--<a href="tel:210-683-3627">-->
                    <!--<i class="fas fa-mobile-alt"></i>-->
                <!--</a>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
<!--</section> &ndash;&gt;-->



        <!--&lt;!&ndash; ====================  Footer Section ====================  &ndash;&gt;-->
        <!--<footer>-->
            <!--<div class="container mt-5">-->
                <!--<div class="footer-cols">-->
                    <!--<div class="text-center">-->
                        <!--<a href="/">Home </a>-->
                        <!--<span>|</span>-->
                        <!--<a href="/faq">FAQ</a>-->
                        <!--<span>|</span>-->
                        <!--<a href="/register">Register</a>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="footer-bottom text-center p-2">-->
                <!--HelpingHands Copyright &copy; 2018-->
            <!--</div>-->
        <!--</footer>-->

        <!--<script th:replace="fragments/scripts :: scripts"></script>-->
<!--</body>-->
<!--</html>-->


