<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:replace="fragments/head :: head" />
    <title>Meet the Developers | Helping Hands</title>
    <link rel="stylesheet" th:href="@{/css/team.css}" />
</head>
<body>
    <nav th:replace="fragments/navbar :: navbar"></nav>

        <!-- ====================  About Team ==================== -->
        <section id="team" class="section">
            <div class="container">
                <h2 class="section-head mt-3"><i class="fas fa-users header-icons"></i> Meet The Team</h2>
                <p class="lead hideOnSmall">The developers behind <a th:href="'/'" class="link-custom">Helping Hands</a>
                </p>
                <hr />
                <div class="grid-profile">

                        <!-- =================  tj profile ================= -->
                    <div id="tj mb-5">
                        <div class="tjPic teamImg"></div>
                        <h4 class="mb-1 mt-2 nameHighlight mx-auto"> - TJ English - </h4>
                        <div id="icons">
                            <a href="mailto:timothy.english.jr@gmail.com">
                                <i class="fas fa-envelope"></i>
                            </a>
                            <a href="https://www.linkedin.com/in/tenglishjr" target="_#">
                                <i class="fab fa-linkedin-in mx-2"></i>
                            </a>
                            <a href="https://www.github.com/tenglishjr">
                                <i class="fab fa-github"></i>
                            </a>
                        </div>
                    </div>

                        <!-- ================= lisa profile ================= -->
                    <div id="lisa">
                        <div class="lisaPic teamImg"></div>
                        <h4 class="mb-1 mt-2 nameHighlight mx-auto"> - Lisa Rodriguez- </h4>
                        <div id="icons">
                            <a href="mailto:lisa.rodriguez257@gmail.com">
                                <i class="fas fa-envelope"></i>
                            </a>
                            <a href="https://www.linkedin.com/in/lisa-rodriguez/" target="_#">
                                <i class="fab fa-linkedin-in mx-2"></i>
                            </a>
                            <a href="https://github.com/RodriguezL75">
                                <i class="fab fa-github"></i>
                            </a>
                        </div>
                    </div>

                        <!-- ================= vince profile ================= -->
                    <div id="vince mb-5">
                        <div class="vincePic teamImg"></div>
                        <h4 class="mb-1 mt-2 nameHighlight mx-auto"> - Vincent Lewis - </h4>
                        <div id="icons">
                            <a href="mailto:vincent.sean.lewis@gmail.com">
                                <i class="fas fa-envelope"></i>
                            </a>
                            <a href="https://www.linkedin.com/in/lewis-vincent/" target="_#">
                                <i class="fab fa-linkedin-in mx-2"></i>
                            </a>
                            <a href="https://github.com/vlewisGH">
                                <i class="fab fa-github"></i>
                            </a>
                        </div>
                    </div>

                        <!-- ================= mykel profile ================= -->
                    <div id="mykel">
                        <div class="mykelPic teamImg"></div>
                        <h4 class="mb-1 mt-2 nameHighlight mx-auto"> - Mykel Kovar - </h4>
                        <div id="icons">
                            <a href="mailto:mykelkovar@gmail.com">
                                <i class="fas fa-envelope"></i>
                            </a>
                            <a href="https://www.linkedin.com/in/mykel-kovar" target="_#">
                                <i class="fab fa-linkedin-in mx-2"></i>
                            </a>
                            <a href="https://github.com/mkovar52">
                                <i class="fab fa-github"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <th:block th:replace="fragments/hr-custom :: hr-custom" />
            </div>
        </section>

        <!-- ====================  Footer Section ====================  -->
        <th:block th:replace="fragments/footer :: footer" />
    <script th:replace="fragments/scripts :: scripts"></script>
</body>
</html>


