<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>FAQ | Helping Hands</title>
    <!--FontAwesome-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous" />

    <!--Bootstrap-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous" />
    <link rel="stylesheet" href="../../css/faq.css" />
</head>
<body>
<nav th:replace="fragments/navbar :: navbar"></nav>
    <div class="container text-center mt-4">
        <div>
            <h2 class="faq-heading mt-5">Frequently Asked Questions</h2>
            <hr/>
        </div>

        <div class="mt-4">
        <section id="questions mt-5">
            <!-- ===== question 1 ===== -->
            <div class="question1 questionLead">
                <div class="accordion" id="accordionExample">
                    <div id="headingOne">
                        <h5 class="mb-0">
                            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-controls="collapseOne">
                                <i class="far fa-question-circle"></i> Is HelpingHands a free service?
                            </button>
                        </h5>
                    </div>
                </div>
                <div id="collapseOne" class="collapse hide" aria-labelledby="headingOne" data-parent="#accordionExample">
                    <div class="card-body">
                        >Absolutely. And it always will be.
                    </div>
                </div>
            </div>
            <!-- ===== question 2 ===== -->
            <div class="question2 questionLead">
                <div class="accordion" id="accordionExample">
                    <div id="heading headingTwo">
                        <h5 class="mb-0">
                            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-controls="collapseTwo">
                                <i class="far fa-question-circle"></i> Is HelpingHands a free service?
                            </button>
                        </h5>
                    </div>
                </div>
                <div id="collapseTwo" class="collapse hide" aria-labelledby="headingTwo" data-parent="#accordionExample">
                    <div class="card-body">
                        >Yes, for the second time! :)
                    </div>
                </div>
            </div>
            <!-- ===== question 3 ===== -->
            <div class="question2 questionLead">
                <div class="accordion" id="accordionExample">
                    <div id="headingThree">
                        <h5 class="mb-0">
                            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseThree" aria-controls="collapseThree">
                                <i class="far fa-question-circle"></i> Is HelpingHands a free service?
                            </button>
                        </h5>
                    </div>
                </div>
                <div id="collapseThree" class="collapse hide" aria-labelledby="headingThree" data-parent="#accordionExample">
                    <div class="card-body">
                        >Yes, for the third time :|
                    </div>
                </div>
            </div>
            <!-- ===== question 4 ===== -->
            <div class="question4 questionLead">
                <div class="accordion" id="accordionExample">
                    <div id="headingFour">
                        <h5 class="mb-0">
                            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseFour" aria-controls="collapseFour">
                                <i class="far fa-question-circle"></i> Is HelpingHands a free service?
                            </button>
                        </h5>
                    </div>
                </div>
                <div id="collapseFour" class="collapse hide mb-5" aria-labelledby="headingFour" data-parent="#accordionExample">
                    <div class="card-body">
                        >Yes, for the fourth time. . . . -_-
                    </div>
                </div>
            </div>
        </section>
        </div>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>

        <!-- ====================  Footer Section ====================  -->

        <footer>
            <div class="container">
                <div class="footer-cols mt-5">
                    <div class="text-center">
                        <a href="/">Home </a>
                        <span>|</span>
                        <a href="/about-team">The Team </a>
                    </div>
                </div>
            </div>
            <div class="footer-bottom text-center">
                HelpingHands Copyright &copy; 2018
            </div>
        </footer>
    </div>
    <script th:replace="fragments/scripts :: scripts"></script>
</body>
</html>