<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="fragments/head :: head" />
    <title>FAQ | Helping Hands</title>
    <link rel="stylesheet" th:href="@{/css/faq.css}" />
</head>
<body>
<nav th:replace="fragments/navbar :: navbar"></nav>
    <div class="container text-center mt-4">
        <div>
            <h2 class="faq-heading mt-5"><i class="fas fa-clock header-icons"></i> Frequently Asked Questions</h2>
            <hr/>
        </div>

        <div class="mt-4">
        <section id="questions mt-5">
            <!-- ===== question 1 ===== -->
            <div class="question1 questionLead">
                <div class="accordion" id="accordionExample">
                    <div id="headingOne">
                        <h5 class="mb-0">
                            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-controls="collapseOne">
                                <i class="far fa-question-circle"></i> Is HelpingHands a free service?
                            </button>
                        </h5>
                    </div>
                </div>
                <div id="collapseOne" class="collapse hide" aria-labelledby="headingOne" data-parent="#accordionExample">
                    <div class="card-body">
                        Absolutely, and it always will be a free service.
                    </div>
                </div>
            </div>
            <!-- ===== question 2 ===== -->
            <div class="question2 questionLead">
                <div class="accordion" id="accordionExample">
                    <div id="heading headingTwo">
                        <h5 class="mb-0">
                            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-controls="collapseTwo">
                                <i class="far fa-question-circle"></i> Is it easy to volunteer for an event?
                            </button>
                        </h5>
                    </div>
                </div>
                <div id="collapseTwo" class="collapse hide" aria-labelledby="headingTwo" data-parent="#accordionExample">
                    <div class="card-body">
                        Yes, just register as a volunteer and then login to the site.  Once logged in, select upcoming events, and select more info.  The date, time and location will be displayed.  Once you select Count me in, and confirm, you have signed up for the event.
                    </div>
                </div>
            </div>
            <!-- ===== question 3 ===== -->
            <div class="question2 questionLead">
                <div class="accordion" id="accordionExample">
                    <div id="headingThree">
                        <h5 class="mb-0">
                            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseThree" aria-controls="collapseThree">
                                <i class="far fa-question-circle"></i> What if I have a question to ask the organization, is that easy to do?
                            </button>
                        </h5>
                    </div>
                </div>
                <div id="collapseThree" class="collapse hide" aria-labelledby="headingThree" data-parent="#accordionExample">
                    <div class="card-body">
                        Yes, in the events page select the name of the organization and you will have the ability to send a message.
                    </div>
                </div>
            </div>
            <!-- ===== question 4 ===== -->
            <div class="question4 questionLead">
                <div class="accordion" id="accordionExample">
                    <div id="headingFour">
                        <h5 class="mb-0">
                            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseFour" aria-controls="collapseFour">
                                <i class="far fa-question-circle"></i> Can I view the events I signed up for?
                            </button>
                        </h5>
                    </div>
                </div>
                <div id="collapseFour" class="collapse hide mb-5" aria-labelledby="headingFour" data-parent="#accordionExample">
                    <div class="card-body">
                        Yes, in your dashboard you will be able to view the number of events you committed to.
                    </div>
                </div>
            </div>
        </section>
        </div>
        <th:block th:replace="fragments/hr-custom :: hr-custom" />

        <!-- ====================  Footer Section ====================  -->

        <th:block th:replace="fragments/footer :: footer" />
    </div>
    <script th:replace="fragments/scripts :: scripts"></script>
</body>
</html>