<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="fragments/head :: head" />
    <title>FAQ | Helping Hands</title>
    <link rel="stylesheet" th:href="@{/css/faq.css}" />
</head>
<body>
<nav th:replace="fragments/navbar :: navbar"></nav>
    <div class="container text-center mt-4">
        <div>
            <h2 class="faq-heading mt-5"><i class="fas fa-clock header-icons"></i> Frequently Asked Questions</h2>
            <hr/>
        </div>

        <div class="mt-4">
        <section id="questions mt-5">
            <!-- ===== question 1 ===== -->
            <div class="question1 questionLead">
                <div class="accordion" id="accordionExample">
                    <div id="headingOne">
                        <h5 class="mb-0">
                            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-controls="collapseOne">
                                <i class="far fa-question-circle"></i> Is HelpingHands a free service?
                            </button>
                        </h5>
                    </div>
                </div>
                <div id="collapseOne" class="collapse hide" aria-labelledby="headingOne" data-parent="#accordionExample">
                    <div class="card-body">
                        >Absolutely. And it always will be.
                    </div>
                </div>
            </div>
            <!-- ===== question 2 ===== -->
            <div class="question2 questionLead">
                <div class="accordion" id="accordionExample">
                    <div id="heading headingTwo">
                        <h5 class="mb-0">
                            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-controls="collapseTwo">
                                <i class="far fa-question-circle"></i> Is HelpingHands a free service?
                            </button>
                        </h5>
                    </div>
                </div>
                <div id="collapseTwo" class="collapse hide" aria-labelledby="headingTwo" data-parent="#accordionExample">
                    <div class="card-body">
                        >Yes, for the second time! :)
                    </div>
                </div>
            </div>
            <!-- ===== question 3 ===== -->
            <div class="question2 questionLead">
                <div class="accordion" id="accordionExample">
                    <div id="headingThree">
                        <h5 class="mb-0">
                            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseThree" aria-controls="collapseThree">
                                <i class="far fa-question-circle"></i> Is HelpingHands a free service?
                            </button>
                        </h5>
                    </div>
                </div>
                <div id="collapseThree" class="collapse hide" aria-labelledby="headingThree" data-parent="#accordionExample">
                    <div class="card-body">
                        >Yes, for the third time :|
                    </div>
                </div>
            </div>
            <!-- ===== question 4 ===== -->
            <div class="question4 questionLead">
                <div class="accordion" id="accordionExample">
                    <div id="headingFour">
                        <h5 class="mb-0">
                            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseFour" aria-controls="collapseFour">
                                <i class="far fa-question-circle"></i> Is HelpingHands a free service?
                            </button>
                        </h5>
                    </div>
                </div>
                <div id="collapseFour" class="collapse hide mb-5" aria-labelledby="headingFour" data-parent="#accordionExample">
                    <div class="card-body">
                        >Yes, for the fourth time. . . . -_-
                    </div>
                </div>
            </div>
        </section>
        </div>
        <br/>
        <br/>
        <br/>
        <br/>
        <th:block th:replace="fragments/hr-custom :: hr-custom" />

        <!-- ====================  Footer Section ====================  -->

        <th:block th:replace="fragments/footer :: footer" />
    </div>
    <script th:replace="fragments/scripts :: scripts"></script>
</body>
</html>