<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:border-radius="http://www.w3.org/1999/xhtml">
<head>
    <th:block th:replace="fragments/head :: head" />
    <link rel="stylesheet" th:href="@{/css/index.css}" />
    <title>Home | Helping Hands</title>
</head>
<body>
<nav th:replace="fragments/index-navbar :: navbar"></nav>

<!-- ===== Welcome Start ===== -->

<!--Only shows on Mobile-->
<div id="welcome" class="mb-5 d-flex align-items-center d-block d-md-none">
    <div class="row my-0 d-none d-md-block" id="vid-container">
        <!--<div class="vidBgAlt d-block d-md-none"></div>-->
        <div class="vid-bg d-none d-md-block">
            <video th:poster="@{css/index.css}" id="video-bg-elem" preload="auto" autoplay="autoplay" loop="loop" muted="muted">
                <source th:src="@{/video/servetest.mp4}" type="video/mp4" />
                Video not supported
            </video>
        </div>
    </div>
    <div class="row">
        <div class="col-12 title-col p-5">
            <div class="row img-row d-flex align-items-center">
                <div class="col-12 text-center">
                    <img th:src="@{/img/hh-logo-new.png}" alt="hh-logo" id="hh-logo-new" title="HelpingHands" />
                </div>
            </div>
            <div class="row">
                <div class="col-12 text-center">
                    <div class="welcome-info">
                        <h1 id="title-header">Helping Hands</h1>
                        <p class="hideOnSmall">connecting organizations and volunteers around the globe.</p>
                        <p class="registerPrompt mb-1 d-none d-md-block">Don't have an account? Get involved now:</p>

                        <a href="/register"><button class="btn registerNow mt-3">Register</button></a>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Only shows on Medium+ screens-->
<div id="welcome" class="mb-5 d-none d-md-block">
    <div class="row my-0 d-none d-md-block" id="vid-container">
        <!--<div class="vidBgAlt d-block d-md-none"></div>-->
        <div class="vid-bg d-none d-md-block">
            <video th:poster="@{css/index.css}" id="video-bg-elem" preload="auto" autoplay="autoplay" loop="loop" muted="muted">
                <source th:src="@{/video/servetest.mp4}" type="video/mp4" />
                Video not supported
            </video>
        </div>
    </div>
    <div class="row">
        <div class="col-12 title-col p-5">
            <div class="row img-row d-flex align-items-center">
                <div class="col-12 text-center">
                    <img th:src="@{/img/hh-logo-new.png}" alt="hh-logo" id="hh-logo-new" title="HelpingHands" />
                </div>
            </div>
            <div class="row">
                <div class="col-12 text-center">
                    <div class="welcome-info">
                        <h1 id="title-header">Helping Hands</h1>
                        <p class="hideOnSmall">connecting organizations and volunteers around the globe.</p>
                        <p class="registerPrompt mb-1">Don't have an account? Get involved now:</p>

                        <a href="/register"><button class="btn w-25 mr-2 registerNow">Register</button></a>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ====================  About HH ====================  -->
<section class="container mt-4" id="about">
    <div class="div-title col-5 col-md-8">
        <h2 class="p-3">About HH</h2>
    </div>
    <div class="about-div" style="border:5px solid #f8c537; border-radius:15px 50px; box-shadow: 8px 8px #2ec4b6">
        <div class="container p-3">
            <p class="lead ">HelpingHands is designed to help facilitate volunteer enrollment and participation for any given charitable event.
                Volunteers have the ability to apply to help an organization or event, follow your favorite organizations, and earn points for frequent participation. HH makes it easy to
                get involved, and stay involved!</p>
        </div>
    </div>
</section>

<!-- ========== CTA Hero Banner Start ========== -->
<div id="ctaHeroBanner">
    <div class="cta-grid p-5">
        <div class="heroCTA">
            <h5>Want to make a difference in your community?</h5>
            <a href="/register"><button class="btn registerNow">Create Account</button></a>
        </div>
    </div>
</div>

<!-- ========== CTA Hero Banner END ========== -->

<!--Events    -->
<div class="container">
    <h2 class="div-title col-12 col-md-5 p-3 mt-3">UpcomingEvents:</h2>
    <div class="row">
        <div class="col-12 col-md-6 m-auto p-2" th:each=" event : ${events}">
            <div class="card event1">
                <div class="card-body text-center">
                    <h4 class="card-title" th:text="${event.eventName}"></h4>
                    <p class="text-muted">
                                     <span>
                                        <a th:href="'/orgs/'+${event.org.orgName}" style="font-size: 12px;">
                                        <img th:src="${event.getOrg().getUser().getPhotoUrl()}" alt="Org LOGO" style="width: 20px; height: 20px; border-radius: 50%" />
                                        </a>
                                     </span>
                        <a id="orgNameLink" class="link-custom" th:href="'/orgs/'+${event.org.orgName}" th:text="${event.org.orgName}"></a>
                    </p>
                    <a th:href="'/orgs/'+${event.org.orgName}+'/event/'+${event.id}" class="btn btn-primary btn-custom" style="width:120px">More Info</a>
                    <a th:href="'/orgs/'+${event.org.orgName}" class="btn btn-primary btn-custom" style="width:120px">Profile</a>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- ====================  Participating Orgs ====================  -->
<div style="background: #ff7f00;color:white">
    <section id="organizations">
        <h2 class="orgPartners">Organization Partners</h2>
        <p class="lead">Our partners are very engaged in the community.  Through marketing, event sponsorship, donations, employee engagement, and the power of volunteerism helps drive community involvement!
        </p>
            <div class="org-logos-row-1 text-center hideOnSmall">
                <div class="org-1" alt="duck derby" title="Duck Derby"></div>
                <div class="org-2" alt="local-threads-logo" title="Codeup"></div>
                <div class="org-3" alt="dunder-mifflin-logo" title="Dunder Mifflin"></div>
                <div class="org-4" alt="pollos-hermanos-logo" title="Los Pollos Hermanos"></div>
                <div class="org-5" alt="codeup-logo" title="Codeup"></div>
            </div>
        <div class="text-center mt-3">
            <p class="leadEvents mb-2">Browse all participating orgs:</p>
            <a th:href="@{/orgs}"><button class="btn registerNow">View More</button></a>

        </div>

        <th:block th:replace="fragments/hr-custom :: hr-custom" />
    </section>
</div>

<!-- ====================  Footer ====================  -->


<th:block th:replace="fragments/footer :: footer" />


<th:block th:replace="fragments/scripts :: scripts" />

<script th:src="@{/js/index.js}"></script>
</body>
</html>
