<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Organization Login | Helping Hands</title>
    <!--FontAwesome-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous" />

    <!--Bootstrap-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous" />
    <link rel="stylesheet" href="../../css/register.css" />
</head>
<body>
<nav th:replace="fragments/navbar :: navbar"></nav>

<div class="container">

    <th:block th:if="${param.error}">
        <div class="alert alert-danger">Invalid username and/or password. Please try again.</div>
    </th:block>
    <th:block th:if="${param.logout}">
        <div class="alert alert-info">You have been logged out.</div>
    </th:block>

    <div class="card mt-3 text-center">
        <form th:action="@{/login}" method="POST">
            <div class="card-header">
                <h1>Login</h1>
            </div>
            <div class="card-body">
                <div class="form-group">
                    <label for="username">Username</label>
                    <input class="form-control" id="username" name="username" type="text" />
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input class="form-control" id="password" name="password" type="password" />
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </div>
        </form>
    </div>

    <footer>
        <div class="container mt-3 p-3">
            <div class="text-center">
                <a href="#welcome">Welcome </a>
                <span>|</span>
                <a href="#about">About</a>
                <span>|</span>
                <a href="/faq.html">FAQ </a>
                <span>|</span>
                <a href="/about-team">The Team </a>
            </div>
        </div>
        <div class="footer-bottom text-center mb-2">
            HelpingHands Copyright &copy; 2018
        </div>
    </footer>

</div>
<script th:replace="fragments/scripts :: scripts"></script>
</body>
</html>