<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="fragments/head :: head" />
    <title>Register | Helping Hands</title>
    <link rel="stylesheet" th:href="@{/css/register.css}" />
</head>
<body>
<nav th:replace="fragments/navbar :: navbar"></nav>

<div class="container">

    <th:block th:if="${passwordNoMatch != null || emailExists != null || usernameExists != null}">
        <div class="alert alert-warning mt-4 text-center" style="width: 60%;">There is an error in one or more of your forms. Please confirm your information is correct and try again.</div>
    </th:block>


    <div class="row my-3 d-flex justify-content-center">
        <div class="card mt-5 text-center">
            <form th:action="@{/register}" method="POST" th:object="${user}">
                <div class="card-header">
                    <h1 class="formHeader"><i class="fas fa-user-plus header-icons"></i> Register</h1>
                </div>
                <div class="card-body col-7 m-auto">
                   <div class="row">
                       <div class="col-12 col-md-6">
                            <th:block th:if="${usernameExists}">
                                <div class="alert alert-danger text-center" th:text="${usernameExists}"></div>
                            </th:block>
                            <div class="form-group d-flex justify-content-center">
                                <label for="username">Username:</label>
                                <input class="form-control ml-2" id="username" type="text" th:field="*{username}" />
                            </div>
                            <th:block th:if="${emailExists}">
                                <div class="alert alert-danger text-center" th:text="${emailExists}"></div>
                            </th:block>
                            <div class="form-group d-flex justify-content-center">
                                <label for="email">Email address:</label>
                                <input class="form-control" id="email" type="email" th:field="*{email}"/>
                            </div>
                            <th:block th:if="${passwordNoMatch}">
                                <div class="alert alert-danger text-center" th:text="${passwordNoMatch}"></div>
                            </th:block>
                            <div class="form-group d-flex justify-content-center">
                                <label for="password">Password:</label>
                                <input class="form-control ml-2" id="password" type="password" th:field="*{password}"/>
                            </div>
                            <div class="form-group d-flex justify-content-center">
                                <label for="passwordCon">Confirm Password:</label>
                                <input class="form-control" id="passwordCon" type="password" th:name="'passwordCon'"/>
                            </div>
                            <div class="form-group d-flex justify-content-center">
                                <label for="firstName">First Name:</label>
                                <input class="form-control" id="firstName" type="text" th:field="*{firstName}"/>
                            </div>
                            <div class="form-group d-flex justify-content-center">
                                <label for="lastName">Last Name:</label>
                                <input class="form-control" id="lastName" type="text" th:field="*{lastName}"/>
                            </div>
                        </div>
                        <div class="col-12 col-md-6">
                            <div class="form-group d-flex justify-content-center">
                                <label for="phnNum">Phone Number:</label>
                                <input class="form-control" id="phnNum" type="text"  th:field="*{phnNum}"/>
                            </div>
                            <div class="form-group d-flex justify-content-center">
                                <label for="zipcode">Zip Code:</label>
                                <input class="form-control" id="zipcode" type="text"  th:field="*{zipcode}"/>
                            </div>
                            <div class="form-group d-flex justify-content-center">
                                <label for="picUrlInput">Profile picture:</label>
                                <button type="button" class="btn btn-primary btn-custom ml-3" id="uploadBtn">Upload</button>
                                <small id="picName"></small>
                                <input class="form-control" id="picUrlInput" type="hidden" th:field="*{photoUrl}" />
                            </div>
                            <div class="form-group">
                                <h6>Are you registering as a <strong>Volunteer</strong> or an <strong>Organization</strong>?</h6>
                                <div class="d-flex justify-content-center">
                                    <div class="mx-2 text-center form-check form-check-inline">
                                        <label class="pt-2" for="vol">Volunteer</label>
                                        <input class="form-check-input mx-2" id="vol" type="radio" name="isOrg" value="false" checked="checked" />
                                    </div>
                                    <div class="mx-2 text-center form-check form-check-inline">
                                        <label class="pt-2" for="org">Organization</label>
                                        <input class="form-check-input mx-2" id="org" type="radio" name="isOrg" value="true" />
                                    </div>
                                </div>
                            </div>
                        </div>
                   </div>
                </div>
                <div class="card-footer">
                    <button class="btn btn-primary btn-custom" type="submit">Next <i class="far fa-arrow-alt-circle-right fa-sm"></i></button>
                </div>
            </form>
        </div>
    </div>

    <th:block th:replace="fragments/hr-custom :: hr-custom" />

</div>
    <th:block th:replace="fragments/footer :: footer" />
<script th:replace="fragments/scripts :: scripts"></script>
</body>
</html>