<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>FAQ | Helping Hands</title>
    <!--FontAwesome-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous" />

    <!--Bootstrap-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous" />

</head>
<body>
<nav th:replace="fragments/navbar :: navbar"></nav>
<div class="container">
    <nav th:replace="fragments/navbar :: navbar"></nav>

    <h1> Brought to you by:</h1>
    <h1>TJ</h1>
    <h1>Vince</h1>
    <h1>Lisa</h1>
    <h1>Mykel</h1>


    <!-- ====================  Footer Section ====================  -->

    <footer>
        <div class="container">
            <div class="footer-cols">
                <div class="text-center">
                    <a href="/">Home </a>
                    <span>|</span>
                    <a href="/faq">FAQ</a>
                </div>
            </div>
        </div>
        <div class="footer-bottom text-center">
            HelpingHands Copyright &copy; 2018
        </div>
    </footer>
</div>
<script th:replace="fragments/scripts :: scripts"></script>
</body>
</html>